body{
    background-image: url(../assets/sand.jpg);
    color: rgb(252, 200, 142);
    text-shadow: 1px 1px black;

}

p{
    font-weight: 500;
    font-size: 1.5rem;
}

hr{

    width: 30%;
    border: 1px solid transparent;
    border-bottom: 100px solid transparent;
    border-image-slice:64 64 58 61;
    border-image-width:0px 0px 40px 0px;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:round;
    border-image-source:url("../assets/waterBorder.png");
    margin: auto;

}

h2{
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: .5rem double rgb(6, 187, 219);
}