footer{
    border: 3px inset rgba(4, 64, 133, 0.8);
    background-image: url(../assets/waterFix.jpg);
}

.footerLinks{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    font-size: 2rem;
    margin: 0;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

i{
    margin-right: 1rem;
}

.footerLinks > li > a:hover{
    text-decoration: none;
    color: rgb(247, 169, 2)
}