nav{
    background-image: url(../assets/waterFix.jpg);
    border: 3px inset rgba(4, 64, 133, 0.8);
}

a{
    color: rgb(252, 200, 142);
    font-weight: 500;
    font-size: 20px;
    text-shadow: 1px 1px black;
}